@import "../../../Mixins/Mixin";

.Introduction{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(100%, auto);
    overflow: hidden;
}

.main-introduction{
    @include dimensions(100%, auto);
    min-height: 1080px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.black-area{
    position: absolute;
    z-index: 1;
    background-color: rgb(0 0 0 / 0.65);
    @media all and (min-width: 992px) {
        top: 210px;
        left: 5%;
        @include dimensions(60%, 550px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        top: 210px;
        left: 3%;
        @include dimensions(70%, 550px);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        top: 210px;
        left: 3%;
        @include dimensions(80%, 550px);
    }
    @media all and (max-width: 440px) {
        top: 210px;
        left: 3%;
        @include dimensions(90%, 550px);
    }
}

.introduction-container{
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236 28 36 / 0.9);
    color: white;
    text-align: justify;
    @media all and (min-width: 992px) {
        top: 300px;
        right: 5%;
        @include syntaxe-garamond(22px, normal);
        @include dimensions(50%, auto);
        @include padding-package(75px, 75px, 8%, 8%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        top: 300px;
        right: 3%;
        @include syntaxe-garamond(20px, normal);
        @include dimensions(60%, auto);
        @include padding-package(55px, 55px, 8%, 8%);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        top: 300px;
        right: 3%;
        @include syntaxe-garamond(18px, normal);
        @include dimensions(70%, auto);
        @include padding-package(35px, 35px, 8%, 8%);
    }
    @media all and (max-width: 440px) {
        top: 300px;
        right: 3%;
        @include syntaxe-garamond(16px, normal);
        @include dimensions(75%, auto);
        @include padding-package(25px, 25px, 8%, 8%);
    }
}

/* Animation */

@keyframes introRedSquareAppearence{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }

    50%{
        transform: translateX(-250px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.intro-red-square-appearence {
    animation: introRedSquareAppearence 900ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

@keyframes introBlackSquareAppearence{
    0%{
        transform: translateX(500px);
        opacity: 0;
    }

    50%{
        transform: translateX(250px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.intro-black-square-appearence {
    animation: introBlackSquareAppearence 900ms linear;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

@keyframes introTitleAppearence{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }

    50%{
        transform: translateY(20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.intro-title-appearence {
    animation: introTitleAppearence 500ms linear;
    animation-delay: 700ms;
    animation-fill-mode: backwards;
}