@import "../Mixins/Mixin";

.PersonnalDataForm-bgd {
    display: block;
    @include position-package(fixed, 0, none, 0, none);
    z-index: 3;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    &_dimensions{
        @include dimensions(100%, 1024px);
    }
}

.PersonnalDataForm-content {
    background-color: #f0f0f0;
    overflow: hidden;
    @include position-package(relative, none, none, none, none);
    &_dimensions{
        @include dimensions(95%, 350px);
        @media all and (min-width: 992px) {
            max-width: 700px;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            max-width: 600px;
        }
        @media all and (min-width: 441px) and (max-width: 767px) {
            max-width: none;
        }
        @media all and (max-width: 440px) {
            max-width: none;
        }
    }
    &_border{
        @include margin-package(2%, 2%, auto, auto);
        border-radius: 4px;
        @include padding-package(5px, none, none, none);
    }
    &_animation{
        animation-name: modalopen;
        animation-duration: 0.4s;
    }
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
}

.PersonnalDataForm-content {
    @include margin-package(80px, none, none, none);
    color: black;
}

.PersonnalDataForm-text{
    @include margin-package(30px, none, 3%, 3%);
    @include padding-package(5px, 5px, 3%, 3%);
    @include dimensions(none, 235px);
    overflow-y: auto;
}

.borderTop {
    border-top: 2px solid black;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 2%;
    width: 96%;
    animation-name: borderTopBottom;
    animation-duration: 1s;
}

.borderBottom {
    border-bottom: 2px solid red;
    position: absolute;
    left: 2%;
    bottom: 75px;
    width: 96%;
    animation-name: borderTopBottom;
    animation-duration: 1s;
}

@keyframes borderTopBottom {
    from {
        width: 0%;
    }

    to {
        width: 96%;
    }
}

.borderLeft {
    border-left: 2px solid black;
    position: absolute;
    top: 10px;
    left: 2%;
    height: 270px;
    animation-name: borderLeftRight;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes borderLeftRight {
    from {
        height: 0px;
    }

    to {
        height: 270px;
    }
}

.borderRight {
    border-right: 2px solid red;
    position: absolute;
    bottom: 75px;
    right: 2%;
    height: 270px;
    animation-name: borderLeftRight;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.section-animation{
    animation-name: sectionOpacity;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes sectionOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.PersonnalDataForm-content h3 {
    text-align: left;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(18px, bold);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(14px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(12px, normal);
    }
}

.PersonnalDataForm-content p {
    text-align: justify;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(14px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(12px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(10px, normal);
    }
}

.text-underline{
    text-decoration: underline;
}

.PersonnalDataForm-content li {
    text-align: left;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(14px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(12px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(10px, normal);
    }
}

.PersonnalDataFormConfirmBtn {
    background-color: black;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(22px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(18px, normal);
    }
    color: #fff;
    cursor: pointer;
    &_dimensions{
      @media all and (min-width: 992px) {
        @include dimensions(160px, 45px);
      }
      @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(140px, 42px);
      }
      @media all and (min-width: 441px) and (max-width: 767px) {
        @include dimensions(120px, 38px);
      }
      @media all and (max-width: 440px) {
        @include dimensions(100px, 35px);
      }
    }
    &_border{
      @include margin-package(20px, none, none, none);
      border: 0;
      border-radius: 10px;
    }
}