@import "../Mixins/Mixin";

.Introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(100%, 1024px);
    overflow: hidden;
}

.main-introduction{
    @include dimensions(100%, 1024px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.leo-paul-photo{
    z-index: 1;
    background-color: #d6d6d6;
    @include dimensions(150%, 1024px);
}

.introduction-container{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    @include dimensions(80%, auto);
    @include margin-package(280px, none, 30%, none);
}

.presentation-color-bgd{
    @include dimensions(240%, 350px);
    background-color: rgb(236 28 36 / 0.9);
    z-index: 1;
    @include margin-package(none, none, -250%, none);
}

.presentation-text{
    @include dimensions(250%, 300px);
    @include margin-package(none, none, -300%, none);
    @include syntaxe-garamond(24px, normal);
    color: white;
    z-index: 3;
}