@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.Contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 1024px !important;
  overflow: hidden;
}

.main-home {
  width: 100%;
  height: 1024px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-bgd {
  z-index: 1;
  margin-top: -1024px !important;
  margin-bottom: none !important;
  margin-left: none;
  margin-right: none;
  width: none;
  height: 1024px !important;
}

.contact-page-container {
  width: 100%;
  height: 1024px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
@media all and (min-width: 992px) {
  .contact-page-container {
    justify-content: center;
    align-items: center;
    gap: 15%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-page-container {
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .contact-page-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*gap: 15%;*/
  }
}
@media all and (max-width: 440px) {
  .contact-page-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*gap: 15%;*/
  }
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(236, 28, 36, 0.9);
  color: white;
  z-index: 3;
  list-style: none;
}
@media all and (min-width: 992px) {
  .contact-data {
    margin-top: 100px !important;
    margin-bottom: none !important;
    margin-left: 4%;
    margin-right: none;
    padding-top: 60px !important;
    padding-bottom: 70px !important;
    padding-left: none;
    padding-right: 3%;
    width: 30%;
    height: 420px !important;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-data {
    margin-top: 100px !important;
    margin-bottom: none !important;
    margin-left: 2%;
    margin-right: none;
    padding-top: 50px !important;
    padding-bottom: 60px !important;
    padding-left: none;
    padding-right: 5%;
    width: 40%;
    height: 380px !important;
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .contact-data {
    margin-top: 160px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    padding-top: 5px !important;
    padding-bottom: 15px !important;
    padding-left: none;
    padding-right: 6%;
    width: 75%;
    height: 250px !important;
    max-width: 350px;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .contact-data {
    margin-top: 160px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    padding-top: 25px !important;
    padding-bottom: 35px !important;
    padding-left: none;
    padding-right: 10%;
    width: 70%;
    height: 270px !important;
    max-width: 250px;
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: normal;
  }
}

.contact-data-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-btn {
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media all and (min-width: 992px) {
  .contact-btn {
    width: 150px;
    height: 50px !important;
    margin-top: 70px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .contact-btn {
    width: 135px;
    height: 45px !important;
    margin-top: 40px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .contact-btn {
    width: 130px;
    height: 40px !important;
    margin-top: 10px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .contact-btn {
    width: 130px;
    height: 40px !important;
    margin-top: 40px !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: normal;
  }
}/*# sourceMappingURL=Contact.css.map */