@import "../Mixins/Mixin";

$screenHeigth: 1024px;

.Home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(100%, $screenHeigth);
    overflow: hidden;
}

.main-home{
    @include dimensions(100%, $screenHeigth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-page-bgd{
    z-index: 1;
    @include margin-package(-$screenHeigth, none, none, none);
    @include dimensions(none, 1300px);
}

.main-content{
    @include dimensions(100%, $screenHeigth);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.welcome-title-container{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include dimensions(80%, auto);
    @include margin-package(-50px, none, none, 50%);
}

.welcome-title-bgd{
    @include dimensions(50%, 120px);
    background-color: rgb(236 28 36 / 0.9);
    z-index: 1;
    @include margin-package(none, none, none, -50%);
}

.welcome-title{
    @include dimensions(50%, none);
    @include margin-package(none, none, -50%, none);
    @include syntaxe-garamond(30px, normal);
    color: white;
    z-index: 3;
}

.welcome-text-container{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include dimensions(150%, auto);
    @include margin-package(-50px, 100px, 20%, none);
}

.welcome-text-bgd{
    @include dimensions(50%, 250px);
    background-color: rgb(255 255 255 / 0.7);
    z-index: 2;
    @include margin-package(none, none, none, -50%);
}

.welcome-text{
    @include dimensions(50%, none);
    @include margin-package(none, none, -50%, none);
    @include syntaxe-garamond(24px, normal);
    color: black;
    z-index: 2;
}