@import "../Mixins/Mixin";

.Honorarium{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include dimensions(100%, none);
    overflow: hidden;
}

.main-honorarium{
    @include dimensions(100%, none);
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.honorarium-page-title{
    @include dimensions(90%, none);
    text-align: left;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(34px, normal);
        @include margin-package(260px, 60px, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(28px, normal);
        @include margin-package(220px, 40px, none, none);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(18px, normal);
        @include margin-package(180px, 20px, none, none);
    }
}

.honorarium-container{
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @include dimensions(90%, auto);
    background-color: rgb(236 28 36 / 0.9);
    @media all and (min-width: 992px) {
        @include margin-package(none, 100px, none, none);
        min-height: 1000px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, 80px, none, none);
        min-height: 800px;
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 100px, none, none);
        min-height: 700px;
    }
}

.justice-symbole{
    position: absolute;
    z-index: 1;
    opacity: 0.85;
    @media all and (min-width: 992px) {
        top: 550px;
        left: 10%;
        @include dimensions(600px, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        top: 500px;
        left: 10%;
        @include dimensions(500px, none);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        top: 600px;
        @include dimensions(300px, none);
    }
    @media all and (max-width: 440px) {
        top: 700px;
        @include dimensions(200px, none);
    }
}

.honorarium-page-btn-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    background-color: rgb(255 255 255 / 0.5);
    @media all and (min-width: 992px) {
        @include margin-package(40px, 40px, 30%, none);
        @include padding-package(80px, 80px, none, none);
        @include dimensions(65%, none);
        gap: 50px;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(30px, 30px, 15%, none);
        @include padding-package(50px, 50px, none, none);
        @include dimensions(75%, none);
        gap: 30px;
    }
    @media all and (max-width: 767px) {
        @include margin-package(10px, 10px, none, none);
        @include padding-package(40px, 40px, none, none);
        @include dimensions(95%, none);
        gap: 20px;
    }
}

.honorarium-item{
    background-color: rgb(0 0 0 / 1);
    color: white;
    overflow: hidden;
    border-radius: 4px;
}

.honorarium-item-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    @include dimensions(100%, 50px);
    @include padding-package(none, none, 2%, 2%);
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(18px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
    }
}

.honorarium-item-btn h3{
    text-align: left;
    @include dimensions(90%, none);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(18px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
    }
}

.inactive-Btn{
    @include dimensions(80%, 50px);
}

.arrowOpenWindow {
    animation-name: arrowOpenWindow;
    animation-duration: 1s;
}

.arrowCloseWindow {
    animation-name: arrowCloseWindow;
    animation-duration: 1s;
}

@keyframes arrowOpenWindow {
    0% {
        transform: rotate(-180deg);
    }

    25% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes arrowCloseWindow {
    0% {
        transform: rotate(180deg);
    }

    25% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.honorarium-item-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    @include dimensions(90%, 250px);
    overflow-y: auto;
    @include padding-package(10px, 10px, 5%, 5%);
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(17px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(15px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(13px, normal);
    }
}

.honorarium-item-article p{
    animation-name: articleopacity;
    animation-duration: 2s;
}

.honorarium-item-article li{
    animation-name: articleopacity;
    animation-duration: 2s;
}

@keyframes articleopacity {
    0% {
      opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

/*Animation information card*/

.honorarium-information-close{
    animation-name: closeInformation;
    animation-duration: 1s;
    width: 80%;
    height: 50px;
}

.honorarium-information-open{
    animation-name: openInformation;
    animation-duration: 2s;
    width: 90%;
    height: 320px;
}

@keyframes openInformation {
    0% {
        width: 80%;
        height: 50px;
    }

    25% {
        width: 90%;
        height: 50px;
    }

    100% {
        width: 90%;
        height: 320px;
    }
}

@keyframes closeInformation {
    0% {
        width: 90%;
        height: 320px;
    }

    50% {
        width: 90%;
        height: 50px;
    }

    100% {
        width: 80%;
        height: 50px;
    }
}