@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.Header {
  z-index: 2;
  width: 100%;
  height: 150px !important;
  position: absolute;
}

.header-bgd {
  width: 100%;
  height: 150px !important;
  /*background-color: rgb(0 0 0 / 0.35);*/
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.header-content {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: -150px !important;
  margin-bottom: none !important;
  margin-left: none;
  margin-right: none;
}
@media all and (min-width: 992px) {
  .header-content {
    justify-content: space-around;
    width: 100%;
    height: 150px !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .header-content {
    justify-content: space-around;
    width: 100%;
    height: 150px !important;
  }
}
@media all and (max-width: 767px) {
  .header-content {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: none;
    padding-right: none;
    width: 100%;
    height: 130px !important;
  }
}

@media all and (min-width: 992px) {
  .logo-leo-paul {
    width: none;
    height: 130px !important;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 25%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-leo-paul {
    width: none;
    height: 110px !important;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: 25%;
  }
}
@media all and (max-width: 767px) {
  .logo-leo-paul {
    width: none;
    height: 90px !important;
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: none;
    margin-right: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 992px) {
  .navigation_dimensions {
    width: 40%;
    height: none !important;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .navigation_dimensions {
    width: 50%;
    height: none !important;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .navigation_dimensions {
    width: 75%;
    height: none !important;
  }
}
@media all and (max-width: 440px) {
  .navigation_dimensions {
    width: 90%;
    height: none !important;
  }
}

.menu-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}
@media all and (min-width: 992px) {
  .menu-link {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: normal;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .menu-link {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: normal;
  }
}
@media all and (min-width: 441px) and (max-width: 767px) {
  .menu-link {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    font-weight: normal;
  }
}
@media all and (max-width: 440px) {
  .menu-link {
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: normal;
  }
}
.menu-link:hover {
  transform: scale(1.15);
}
.menu-link:hover > .link-underline {
  border-bottom: 2px solid black;
  transform: scaleX(1);
}

.link-underline {
  border-bottom: 2px solid black;
  transform-origin: 50% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}

.active-link-underline {
  display: none;
}

.active-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30px !important;
  color: rgb(236, 28, 36);
  border-bottom: 2px solid rgb(236, 28, 36);
  transition: all 200ms;
}
.active-menu-link:hover {
  transform: scale(1.15);
  color: rgb(236, 28, 36);
}

/* Animation */
@keyframes headerAppearence {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  50% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.header-appearence {
  animation: headerAppearence 800ms linear;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

@keyframes headerLinkAppearence {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.header-link-appearence {
  animation: headerLinkAppearence 500ms linear;
  animation-delay: 900ms;
  animation-fill-mode: backwards;
}

@keyframes headerLogoAppearence {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-logo-appearence {
  animation: headerLogoAppearence 1000ms linear;
  animation-delay: 900ms;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=Header.css.map */