@import "../Mixins/Mixin";

.Header{
    z-index: 2;
    @include dimensions(100%, 150px);
    position: absolute;
}

.header-bgd{
    @include dimensions(100%, 150px);
    /*background-color: rgb(0 0 0 / 0.35);*/
    background-color: rgb(0 0 0 / 0.10);
    box-shadow: 1px 1px 10px rgb(0 0 0 / 0.60);
}

.header-content{
    background-color: transparent;
    display: flex;
    align-items: center;
    @media all and (min-width: 992px) {
        justify-content: space-around;
        @include dimensions(100%, 150px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-around;
        @include dimensions(100%, 150px);
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-around;
        @include padding-package(10px, 10px, none, none);
        @include dimensions(100%, 130px);
    }
    @include margin-package(-150px, none, none, none);
}

.logo-leo-paul{
    @media all and (min-width: 992px) {
        @include dimensions(none, 130px);
        @include margin-package(none, none, none, 25%);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(none, 110px);
        @include margin-package(none, none, none, 25%);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 90px);
        @include margin-package(none, none, none, none);
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_dimensions{ 
        @media all and (min-width: 992px) {
            @include dimensions(40%, none);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(50%, none);
        }
        @media all and (min-width: 441px) and (max-width: 767px) {
            @include dimensions(75%, none);
        }
        @media all and (max-width: 440px) {
            @include dimensions(90%, none);
        }
    }
}

.menu-link{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(14px, normal);
    }
    /*color: white;*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu-link:hover{
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(24px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(20px, normal);
    }
    @media all and (min-width: 441px) and (max-width: 767px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (max-width: 440px) {
        @include syntaxe-garamond(14px, normal);
    }
    /*color: white;*/
    color: black;
    text-decoration: none;
    cursor: pointer;
}