@import "../../../Mixins/Mixin";

.Map-wrap {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255 / 0.7);
  position: absolute;
  @media all and (min-width: 992px) {
    top: 220px;
    right: 3%;
    @include dimensions(415px, 415px);
    @include padding-package(25px, 25px, 25px, 25px);
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
    top: 210px;
    right: 2%;
    @include dimensions(300px, 300px);
    @include padding-package(15px, 15px, 15px, 15px);
  }
  @media all and (min-width: 441px) and (max-width: 767px) {
    top: 850px;
    @include dimensions(350px, 350px);
    @include padding-package(15px, 15px, 15px, 15px);
  }
  @media all and (max-width: 440px) {
    top: 800px;
    @include dimensions(280px, 280px);
    @include padding-package(10px, 10px, 10px, 10px);
  }
}